:root {
  --general-color: #2a2a2a;
}

h1,
p {
  font-family: Lato;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Ubuntu Mono', monospace;
  overflow-x: hidden;
}

.container {
  width: 100%;
  display: inline;
}

.block {
  background-color: var(--color-0);
  width: var(--block-size);
  height: var(--block-size);
  margin: 0px;
  float: left;
}
