h1,
p {
  font-family: Lato;
}

body {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  display: inline;
}

.block {
  background-color: #2a2a2a;
  width: var(--block-size);
  height: var(--block-size);
  margin: 0px;
  float: left;
}
